header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 5px;
  border-bottom: 2px solid gray;
  margin: 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  height: 80px;
  width: auto;
}
/*
.logo p {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
}
*/
.navbar {
  display: flex;
  gap: 25px;
}

.navbar {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0px;
}

a {
  color: #0071e3;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.head-title {
  text-align: center;
  font-weight: 400;
  padding-bottom: 30px;
  color: #1d1d1f;
}

main {
  font-family: sans-serif;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 40px;
}

body {
  margin: 0px;
}

.hero1{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero1 img {
  height: 200px;
  width: auto;
}

.product-card{
  text-align: center;
  border: 2px solid #1ebad1;
  border-radius: 30px;
  padding: 10px;
}

.product-description {
  color: #6e6e73;
}
