header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 5px;
  border-bottom: 4px solid #eaf8ff;
  margin: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  height: 80px;
  width: auto;
}

.navbar {
  display: flex;
  gap: 25px;
}

.navbar {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0px;
}

a {
  color: #0071e3;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.head-title {
  text-align: center;
  font-weight: 400;
  padding-bottom: 30px;
  color: #1d1d1f;
}

main {
  font-family: sans-serif;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 40px;
}

body {
  margin: 0px;
}

.hero1{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.hero1 img {
  height: 200px;
  width: auto;
}

.product-card{
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  background-color: #eaf8ff;
  gap: 10px;
}

.button {
  display: inline-block;
  margin-top: 10px;
  border: 3px solid #0071e3;
  border-radius: 10px;
  padding: 8px;
  background-color: #0071e3;
  color: white;
}

.product-description {
  color: #6e6e73;
}

.division {
  margin-left: -40px;
  margin-right: -40px;
  border: solid 3px#eaf8ff;
  margin-bottom: -20px;
}

.after-hero{
  background-color: #eaf8ff;
  margin-left: -40px;
  margin-right: -40px;
}

.why-choose-apple-title{
  text-align: center;
  font-weight: 2000;
  padding-top: 30px;
  color: #1d1d1f;
  margin-bottom: 30px;
}

.why-choose-apple img  {
  border-radius: 20px;
  height: 140px;
  width: auto;
}

.why-choose-apple {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.why-choose-apple-cards {
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 14px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}