header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 5px;
  border-bottom: 4px solid #eaf8ff;
  margin: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 80px;
  width: auto;
}

.logo-container img {
  height: 80px;
  width: auto;
}

.navbar {
  display: flex;
  gap: 25px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0px;
}

a {
  color: #0071e3;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.hero-title {
  text-align: center;
  font-weight: 400;
  padding-bottom: 30px;
  color: #1d1d1f;
}

main {
  font-family: sans-serif;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 40px;
}

body {
  margin: 0px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.hero img {
  height: 200px;
  width: auto;
}

.hero-product-card{
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  background-color: #f5f5f7;
  gap: 10px;
}

.default-button {
  display: inline-block;
  margin-top: 10px;
  border: 3px solid #0071e3;
  border-radius: 20px;
  padding: 8px;
  background-color: #0071e3;
  color: white;
}

.product-description {
  color: #6e6e73;
}

.after-hero {
  background-color: #eaf8ff;
  margin-left: -40px;
  margin-right: -40px;
}

.why-choose-apple {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 40px;
  background-color: #eaf8ff;
  margin-left: -40px;
  margin-right: -40px;
  
}

.why-choose-apple-title {
  text-align: center;
  font-weight: 2000;
  padding-top: 30px;
  color: #1d1d1f;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.why-choose-apple img  {
  border-radius: 20px;
  height: 140px;
  width: auto;
}

.why-choose-apple-cards {
  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 20px;
  padding: 14px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.iphone-17-promo-container {
  background-color: black;
  margin-top: -40px;
  margin-bottom: -40px;
  margin-left: -40px;
  margin-right: -40px;
  color: #eaf8ff;
  padding-top: 40px;
  text-align: center;

}

.iphone-17-promo-container img {
  border-radius: 15px;
  height: 720px;
  width: auto;
}

.iphone-17-promo-title {
  color: #f5f5f7;
  font-size: 50px;
  font-weight: 500;
}

.iphone-17-prod-desc-container {
  width: 900px;
  font-size: 25px;
  color: #6e6e73;
  text-align: center;
}

.iphone-17-pro-buy-button {
  display: inline-block;
  margin-top: 8px;
  border: 3px solid #0071e3;
  border-radius: 40px;
  padding: 18px;
  background-color: #0071e3;
  color: white;
  font-size: 18px;
}